theme:
  name: material
  features:
    - navigation.sections
    - toc.integrate
    - header.autohide
  palette:
    - scheme: default
      primary: white
      accent: amber
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - scheme: slate
      primary: black
      accent: amber
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github # GitHub logo (top right)
  logo: "_static/pastax-sm.png"  # package logo (top left)
  favicon: "_static/pastax-sm.png"  # package favicon

site_name: pastax
site_description: The documentation for the pastax package.
site_author: Vadim Bertrand
site_url: https://pastax.readthedocs.io/en/latest/

repo_url: https://github.com/vadmbertr/pastax
repo_name: vadmbertr/pastax

strict: false

extra_javascript:
  - _static/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - _static/custom.css

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.superfences
  - pymdownx.details
  - admonition
  - codehilite
  - toc:
      permalink: true
      toc_depth: 4

plugins:
  - autorefs
  - include_exclude_files:
      exclude:
        - "_overrides"
  - include-markdown
  - mknotebooks
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          setup_commands:
            - import pytkdocs_tweaks
            - pytkdocs_tweaks.main()
            - import jaxtyping
            - jaxtyping.set_array_name_format("array")
          import:
            - https://docs.kidger.site/diffrax/objects.inv
            - https://docs.kidger.site/equinox/objects.inv
            - https://docs.kidger.site/lineax/objects.inv
          options:
            allow_inspection: true
            docstring_style: numpy
            heading_level: 3
            inherited_members: false
            members_order: source
            show_bases: true
            show_if_no_docstring: false
            show_inheritance_diagram: true
            show_root_full_path: true
            show_root_heading: true
            show_signature_annotations: true
            show_signature_return_annotation: true
            show_signature_parameter_types: true
  - search

nav:
  - "index.md"
  - Getting started: "getting_started.ipynb"
  - "api.md"
