griffe==1.7.3
hippogriffe==0.2.2
mkdocs==1.6.1
mkdocs-material
mkdocs-include-markdown-plugin
mkdocs-pymdownx-material-extras
mkdocs_include_exclude_files==0.1.0
mkdocs-ipynb==0.1.1
mkdocstrings==0.28.3
mkdocstrings-python==1.16.8
mknotebooks @ git+https://github.com/vadmbertr/mknotebooks@master
nbconvert
pygments
pymdown-extensions==10.14.3
pytkdocs_tweaks